- @weekdays.each do |w|
  = link_to users_orders_path(:weekday => w.date) do
    .weekday{:class => ("weekday_active" if w.date == Date.today)}
      = w.name
      .day
      .panel-body.wday
        = w.date
