 /*
 *= require skins/skin-blue
  *= require skins/skin-red-light
 *= require iCheck/flat/blue
 *= require AdminLTE
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

table {
  width:100%;
  border-collapse:inherit;
  border-bottom:1px solid #E5E5E5;
  border-top:1px solid #E5E5E5;
  margin-bottom:20px;
  line-height:20px;
}
table td {
 padding:8px 10px;
  border-right:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
}
table tr:hover {
  background-color:#E6E5FF;
}
table th {
  padding: 8px 5px;
  color: #1f1f1f;
  text-align: left;
  border-right: 1px solid #E5E5E5;
  font-weight: normal;
  background: #efefef;
}
table tr {
  border-left:1px solid #E5E5E5;
  border-top:1px solid #E5E5E5;
}
tr:nth-child(odd) {
  background-color:#CCC;
}

aside {
  float:left;
}

section {
  margin: 0 auto;
  float:right;
  width:1050px;
  padding-right:7px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header .logo {
  float: left;
  height:60px;

}
header .navbar-right {
  margin-right:0px;
}

/* dashboard */

.weekday{
    margin-top: 10px;
    width:120px;
    border:1px solid #eee;
    float:left;
    margin-left: 20px;

    &:hover{
      background: #eee;
    }
  }
  .weekday.weekday_active{
      background: #dff0d8;
  }

.day {
  // padding: 5px;
  margin-top: 5px;
  // border: 1px solid #E1E1E1;
  // border-radius: 4px;
  text-align: center;
  .date {
    background-color: #ffffff;
    font-size: 12px;
  }
  .wday {
    width: auto;
    background-color: #848484;
    color: #F6F6F6;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: bold;
  }
  .today {
    background-color: #449D44
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

