@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header .logo {
  float: left;
  height:60px;

}
header .navbar-right {
  margin-right:0px;
}

/* dashboard */

.weekday{
    width:120px;
    border:1px solid #eee;
    float:left;
    margin-left: 25px;

    &:hover{
      background: #eee;
    }
  }
  .weekday.weekday_active{
      background: #dff0d8;
  }

.day {
  // padding: 5px;
  margin-top: 5px;
  // border: 1px solid #E1E1E1;
  // border-radius: 4px;
  text-align: center;
  .date {
    background-color: #ffffff;
    font-size: 12px;
  }
  .wday {
    width: auto;
    background-color: #848484;
    color: #F6F6F6;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: bold;
  }
  .today {
    background-color: #449D44
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

